<!DOCTYPE html>
<html>


<head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src = "../../../javascript/application.js"></script>

</head>

<body>

hiljl
  <p>
   Enter user firstname:
    <input type = "text" id="firstname_field">
  </p>

  <p id="firstname_feedback" style="height:18px;"></p>

  

  



 <!--  <button onclick="myFunction()">Make Bet</button>
 <button onclick="resetMoney()">Reset Money</button> -->

  <button id = "show_search_results"> Show search results </button>

 <button id = "show_all_contacts"> Show all contacts </button>






</body>
</html>
