<!DOCTYPE html>
<html>


<head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src = "../../../javascript/application.js"></script>

</head>

<body>

hiljl
  <p>
    Bet amount between 5 and 10:
    <input type = "number" id="betAmount" value="5" min="5" max="10">
  </p>

  <p id="bet_feedback" style="height:18px;"></p>

  

  



 <!--  <button onclick="myFunction()">Make Bet</button>
 <button onclick="resetMoney()">Reset Money</button> -->
 <button id = "show_all_contacts"> Show all contacts </button>






</body>
</html>
